<div class="body">
<div class="container-card">
  <mat-card class="example-card">
    <div class ="title">


        <h1> Sign In </h1>
  </div>

  <form class="example-form" [formGroup]= "loginForm" (ngSubmit)="submit(loginForm)">
    <mat-card-content>


        <mat-form-field class="example-full-width">
            <input  type ="email" name="email" matInput placeholder="Enter your email"  formControlName = "email">

        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input  type ="password" name="password" matInput placeholder="Enter your password"  formControlName = "password">

        </mat-form-field>
        <div class="btn_rg">
        <button mat-raised-button color="primary"  type ="submit"  >Login</button>
        </div>

    </mat-card-content>
  </form>
    <mat-card-actions class ="btn_pt">
      <a href="#" routerLink="/register"> Register ? </a>

    </mat-card-actions>
  </mat-card>
</div>
</div>

